.page-not-found-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-not-found-container p {
  text-align: center;
}

a.go-back-btn {
  border: 0.05rem solid var(--accent-color-dark);
  cursor: pointer;
}
