.content-competences-container {
  display: -webkit-inline-flex;
  margin: 1.5rem 0;
  width: inherit;
  flex-wrap: wrap;
}

.content-competences-container > img {
  height: 36px;
  width: auto;
  margin: 0px 6px;
}
