:root {
  --accent-color-dark: #303030;
  --accent-color-light: #fafafa;
  --accent-color-neutral: #909090;
  --accent-color-highlight: #ff8400;

  font-family: "Rubik", sans-serif;
  color: var(--accent-color-dark);
  background-color: var(--accent-color-light);
}

::selection {
  background-color: var(--accent-color-dark);
  color: var(--accent-color-light);
}

::-moz-selection {
  background-color: var(--accent-color-dark);
  color: var(--accent-color-light);
}

.main-container {
  margin: 0px 40px;
}

header,
footer {
  margin: 20px 0px;
}

nav {
  display: flex;
  align-content: center;
}

a {
  padding: 10px;
  margin-right: 10px;
}

a > img {
  height: 20px;
  width: auto;
}

a:link {
  text-decoration: none;
  color: var(--accent-color-dark);
}

a:visited {
  text-decoration: none;
  color: var(--accent-color-dark);
}

.isCurrent {
  border-bottom: 3px solid var(--accent-color-dark);
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  background-color: var(--accent-color-dark);
  color: var(--accent-color-light);
}

.hero-container {
  padding: 100px 10px;
}

.content-container {
  padding: 30px 10px;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: normal;
}

.hero-title:first-child {
  font-weight: bold;
}

.page-title {
  text-decoration: underline;
}

.footer-copyright {
  margin: 10px;
  color: var(--accent-color-neutral);
}

.content-competences-container {
  display: flex;
  margin: 1.5rem 0;
  width: 400px;
  justify-content: space-between;
}

.content-competences-container > img {
  height: 36px;
  width: auto;
}

p {
  max-width: 800px;
  text-justify: inter-word;
  line-height: 1.5rem;
}

h3 {
  text-indent: 0.5rem;
  border-left: 0.25rem solid var(--accent-color-highlight);
}

span.caret {
  border-right: 0.5rem solid var(--accent-color-highlight);
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
