.project-summary {
  color: var(--accent-color-neutral);
}

.tag-container {
  margin-top: 1rem;
}

.tag {
  margin-right: 0.75rem;
  padding: 0px 5px;
  border-radius: 3px;
  font-size: small;
  display: inline;
  border: 0.01rem solid var(--accent-color-neutral);
  color: var(--accent-color-neutral);
}

a.bordered {
  border: 0.05rem solid var(--accent-color-dark);
}

.project-links {
  margin: 1.25rem 0rem;
}

.project-links a {
  display: inline-block;
}
