.project-summary {
  color: var(--accent-color-neutral);
}

.tag-container {
  margin-top: 1rem;
}

.tag {
  margin-right: 0.75rem;
  padding: 0px 5px;
  border-radius: 3px;
  font-size: small;
  display: inline;
}

.tag-framework {
  background-color: rgb(197, 219, 231);
}

.tag-language {
  background-color: rgb(181, 209, 181);
}

.tag-other {
  background-color: rgb(243, 197, 178);
}
